@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.form {
  width: calc(100% / 3 * 2);
  margin-top: 3.75rem;
  padding: 3.25rem 4.5rem 4.5rem 4.5rem;
  background-color: RGBA(255, 255, 255, 0.8);
  border-radius: 1.5rem;
  z-index: 1;
  box-shadow: $shadow-5;
  backdrop-filter: blur(10px);

  @include lg {
    width: calc(100% - 9rem);
  }

  h3 {
    margin-bottom: 2.5rem;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
  }

  .form__submit {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    p {
      width: 50%;
    }
  }
}