@import './variables.scss';
@import './mixins.scss';

h1 {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 5.625rem;
  line-height: 1.15;
  color: $blue-800;
  margin-bottom: 2.8rem;

  @include xl {
    font-size: 5rem;
  }

  @include lg {
    font-size: 3.5rem;
  }
}

h2 {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 1.2;
  color: $blue-800;
  margin-bottom: 2.5rem;

  @include lg {
    font-size: 2.5rem;
  }
}

h3 {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  color: $blue-800;

  @include lg {
    font-size: 1.5rem;
  }
}

h4 {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.333;
  color: $blue-800;

  @include lg {
    font-size: 1.3rem;
  }
}

h5 {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.333;
  color: $blue-800;

  @include lg {
    font-size: 1rem;
  }
}

p {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  color: $black;

  @include lg {
    font-size: 1rem;
  }

  &.big {
    font-size: 1.625rem;
    margin-bottom: 3.5rem;

    @include lg {
      font-size: 1.3rem;
    }
  }

  &.medium {
    font-size: 1.5rem;
    color: $blue-900;
    margin-bottom: 1.5rem;
  }

  &.small {
    font-size: 1rem;
  }

  &.tiny {
    font-size: 0.875rem;
    line-height: 1.28;

    &.grey {
      color: $grey-700;
    }
  }
}

a {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.938rem;
  line-height: 1.333;
  text-decoration: none;
  color: $blue-800;

  &.small {
    font-size: 0.75rem;
    line-height: 1.5;
  }
}

span.tiny {
  font-size: 0.875rem;
  color: $grey-700;
}